
*.pbxproj

thespy/thespy.xcodeproj/project.pbxproj

thespy/thespy.xcodeproj/project.xcworkspace/contents.xcworkspacedata

thespy/thespy.xcodeproj/project.xcworkspace/xcshareddata/thespy.xccheckout

thespy/thespy.xcodeproj/project.xcworkspace/xcuserdata/zhaoquan.xcuserdatad/UserInterfaceState.xcuserstate

thespy/thespy.xcodeproj/project.xcworkspace/xcuserdata/zhaoquan.xcuserdatad/UserInterfaceState.xcuserstate

thespy/thespy.xcodeproj/project.xcworkspace/xcuserdata/zhaoquan.xcuserdatad/UserInterfaceState.xcuserstate

thespy/thespy.xcodeproj/xcuserdata/zhaoquan.xcuserdatad/xcschemes/thespy.xcscheme

thespy/thespy.xcodeproj/xcuserdata/zhaoquan.xcuserdatad/xcschemes/xcschememanagement.plist
